<h1 class="text-center">Priser</h1>
<br>

<div class="large-4 medium-4 columns chat_add">
  <ul class="pricing-table">
    <li class="title">Tillægs pakke 1</li>
    <li class="price"><img src="images/raad.png" alt=""></li>
    <li class="bullet-item">CfDP oplærer jeres medarbejdere på en række workshops</li>
    <li class="bullet-item">Mulighed for løbende supervision</li>
    <li class="bullet-item pris">Kontakt os for priser</li>
  </ul>
</div>


<div class="large-4 medium-4 columns chat_host" >
  <ul class="pricing-table">
    <li class="title">Chat hosting pakke</li>
    <li class="price"><img src="images/server.png" alt=""></li>
    <li class="bullet-item">Opsætning af chat løsning</li>
    <li class="bullet-item">Grafisk tilpasning</li>
    <li class="bullet-item">Op til 10 samtidige rådgivere</li>
    <li class="bullet-item">Opsætning DKK 30.000</li>
    <li class="bullet-item">Drift pr. md. DKK 1.500</li>
  </ul>
</div>

<div class="large-4 medium-4 columns chat_add">
  <ul class="pricing-table">
    <li class="title">Tillægs pakke 2</li>
    <li class="price"><img src="images/raad-cfdp.png" alt=""></li>
    <li class="bullet-item">CfDP oplærer jeres medarbejdere på en række workshops</li>
    <li class="bullet-item">Mulighed for løbende supervision</li>
    <li class="bullet-item pris">Kontakt os for priser</li>
  </ul>
</div>