<h1 class="text-center">Priser</h1>
<br>

<div class="large-4 large-push-4 medium-4 medium-push-4 columns chat_host" >
  <ul class="pricing-table">
    <li class="title">CuraChat<br><br><span>Basis pakken</span></li>
    <li class="price"><img src="images/hosting.svg" alt=""></li>
    <li class="bullet-item">Opsætning af chatløsning</li>
    <li class="bullet-item">Grafisk tilpasning</li>
    <li class="bullet-item">Op til 10 samtidige rådgivere</li>
    <li class="bullet-item">Chatten bemandes fra egne lokaler, og med egen bemanding og udstyr</li>
    <li class="bullet-item">Opsætning kr. 30.000,-</li>
    <li class="bullet-item">Drift pr. md. DKK 1.500,-</li>
  </ul>
</div>


<div class="large-4 large-pull-4 medium-4 medium-pull-4 columns chat_add">
  <ul class="pricing-table">
    <li class="title">CuraChat<br><br><span>Bemandet med rådgivere</span></li>
    <li class="price"><img src="images/add1.svg" alt=""></li>
    <li class="bullet-item">Opsætning af chatløsning</li>
    <li class="bullet-item">Grafisk tilpasning</li>
    <li class="bullet-item">Op til 10 samtidige rådgivere</li>
    <li class="bullet-item">Chatten bemandes af uddannede chatrådgivere fra Center for Digital Pædagogik, der sørger for bemanding, lokaler og udstyr.</li>
    <li class="bullet-item pris">Kontakt os for priser</li>
  </ul>
</div>


<div class="large-4 medium-4 columns chat_add">
  <ul class="pricing-table">
    <li class="title">CuraChat<br><br><span>Bemandet med rådgivere</span></li>
    <li class="price"><img src="images/add2.svg" alt=""></li>
    <li class="bullet-item">Uddannelse af chatrådgivere</li>
    <li class="bullet-item">Implementering</li>
    <li class="bullet-item pris">Supervision tilbydes af erfarende medarbejdere</li>
    <li class="bullet-item pris">Statistik og rapporter kan tilpasses og udarbejdes individuelt efter behov.</li>
    <li class="bullet-item pris">Kontakt os for pris</li>
  </ul>
</div>
