
@import "settings";
@import "foundation";
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


.clear {
  clear: both;
}

.sec-blue {
  background: $sec-blue;
}

.hvid {
  color: #ffffff;
}

.text_grey {
  color: $text-grey;
}

.green {
  background: $green;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.link {

  &:hover {
    text-decoration: underline;
  }
}

body {
  background: $body-color;
  font-family: 'Open Sans'
}

h1 {
  font-weight: 700;
  color: #393f4a;
}

h2 {
  font-weight: 500;
}

h3 {
  color: #333333;
}

h4 {

}

p {
  font-weight: normal;
}

img {
   max-width: 100%;
}

// BUTTON// BUTTON// BUTTON// BUTTON


.button {
  background: $green;
  padding: 10px 15px;
  border: none;

  &:hover {
    background: darken($green, 10%);
  }
}

.read_more {
  background: #1e8448;
  &:hover {
    background: darken(#1e8448, 10%);
  }
}

// CONTAINER// CONTAINER// CONTAINER

.container {
  width: 100%;
}

// HEADER// HEADER// HEADER// HEADER

header {
  width: 100%;
  background: $body-color;
  position: fixed;
  z-index: 1000;
  font-weight: 300;
  height: auto;

  @media screen and (max-width: 1024px) {
    position: relative;
  }

}

.logo {
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 999;

.logo_desktop {
    margin-top: 4px;
    margin-bottom: 4px;
    min-width: 235px;
  }
}

.logo_mobil {
  display: none;
  margin: 4px 0 5px 0;
}


// NAV// NAV// NAV// NAV// NAV

nav {
  text-transform: uppercase;
  
  .desktop {
     @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .mobil{
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  ul {
    line-height: 100px;
    margin-bottom: 0;

    @media screen and (max-width: 1024px) {
      display: none;
      width: 100%;
      line-height: 2.6em;
      border-top: 1px solid $sec-blue;
      margin-left: 0;
      margin-bottom: 20px;
      padding-top: 20px;
    }

    li {
      display: inline-block;
      list-style-type: none;
      z-index: 999;
      margin-right: -2px;

      @media screen and (max-width: 1024px) {
        display: list-item;
      }

      a {
        display: block;
        padding: 0 20px;
        margin: 0;
        color: $primary-blue;
        font-size: 15px;
        font-weight: 700;
        &:hover {
          background: $primary-blue;
          color: #ffffff;
          // border-bottom: 3px solid #ffffff;
          height: 95px;
          
          @media screen and (max-width: 1024px) {
            height: auto;
            border: none;
          }
        }
      }
    }
  }
}

.active {
  background: $primary-blue;
  color: #ffffff;
  height: 95px;

  a {
    color: #ffffff;
  }
  
  @media screen and (max-width: 1024px) {
    height: auto;
    border: none;
  }
}

.toggle_menu {
  display: none;
  line-height: 92px;
  font-size: 20px;
  font-weight: 700;

  a {
    color: $primary-blue;
    &:hover {
      color: lighten($primary-blue, 10%);
    }
  }

  @media screen and (max-width: 1024px) {
    display: block;
    line-height: 1.6em;
    margin-top: -62px;
  }

  @media screen and (max-width: 640px) {
    margin-top: -44px;
  }

}


// BANNER CLASS// BANNER CLASS// BANNER CLASS

.banner {
  width: 100%;
  padding: 50px 0;
}

// COVER 1// COVER 1// COVER 1// COVER 1

.cover {
  height: 650px;
  padding-top: 130px;
  max-width: 100%;
  background: url(../images/bg_cover.jpg) no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 100px; 
  
  @media screen and (max-width: 1024px) {
    background: url(../images/bg_cover_tablet.jpg) no-repeat;
    padding-top: 50px;
    height: 500px;
  }

  @media screen and (max-width: 640px) {
    display: none;
  }

  // @media screen and (max-width: 640px) {
  //   height: 450px;
  // }

  // @media screen and (max-width: 500px) {
  // background: url(../images/bg_cover_mobil.jpg) no-repeat scroll;
  // background-position: 50% 50%;
  // }

  h1 {
    margin-top: 100px;
    font-size: 50px;
    text-shadow: 2px 2px #3a3a3a;
    color: #fff;
    // text-transform: uppercase;
    font-weight: 700;

    @media screen and (max-width: 1024px) {
        font-size:40px;
        margin-top: 50px;
    }

  }

  img {
    display: table;
    margin: 0 auto;
    max-width: 350px;
    padding-top: 20px;
    
    // @media screen and (max-width: 800px) {
    //   width: 35%;
    // }

    // @media screen and (max-width: 640px) {
    //   width: 45%;
    //    display: none;
    // }
  }
}

// SALES-ARGUMENTS// SALES-ARGUMENTS// SALES-ARGUMENTS

.om {
  padding: 150px 0 0 0;
  text-align: center;

  h1 {
    padding-bottom: 50px;
    @media screen and (max-width: 640px) {
      display: none;
    }
  }

   @media screen and (max-width: 1024px) {
    padding: 50px 0 50px 0;
  }

    @media screen and (max-width: 640px) {
    padding: 20px 0 50px 0;
  }

  img {
    padding: 20px 0;
  }

  h3 {
    // font-family: 'Lato';
    font-weight: 600;
    padding-bottom: 10px;
  }

.arrow_down {
    height: 40px;
    width: 60px;
    background-color: $green;
    display: table;
    margin: 0 auto;
    margin-top: 50px;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    img {
      padding: 0;
      margin-top: 10px;
      -o-transition:.3s;
      -ms-transition:.3s;
      -moz-transition:.3s;
      -webkit-transition:.3s;
      transition:.3s;
      &:hover {

        margin-top: 15px;
      }
    }
  }
}

// PRODUKT// PRODUKT// PRODUKT// PRODUKT

.produkt {
  width: 100%;
  padding: 100px 0;

  @media screen and (max-width: 1024px) {
    padding: 50px 0 50px 0;
  }

  h1 {
    color: #ffffff;
    padding-bottom: 20px;
    text-align: center;
  }

  p {
    padding-top: 5px;
    color: #ffffff;
    line-height: 2em;
  }
}

.read_more_toggle {
  display: none;
}

// STAFF// STAFF// STAFF// STAFF

.staff {
  padding: 150px 0 100px 0;

  @media screen and (max-width: 1024px) {
    padding: 50px 0 100px 0;
  }

  h1 {
    color: $primary-gray;
    text-align: center;
  }

  h4 {
    color: $primary-gray;
    text-align: center;
  }
}

.staff-images {
  p {
    text-align: center;
    line-height: 10px;
  }

  img {
    border-radius: 50%;
    display: table;
    margin: 50px auto 20px;
  }
}

// UDTALELSER// UDTALELSER// UDTALELSER


.udtalelse {

  width: 100%;
  padding: 190px 0 100px 0;

  @media screen and (max-width: 640px) {
    display: none;
  }

  p {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }

  img {
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: -20px;
    box-shadow: 5px 5px 20px #222;

    @media screen and (max-width: 600px) {
      margin-bottom: -5px;
    }
  }

  cite {
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
  }
}

// COVER 2// COVER 2// COVER 2

.cover2 {
  background: url(../images/bg_cover2.jpg) no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
  
  @media screen and (max-width: 1000px) {
    background: url(../images/bg_cover2_tablet.jpg) no-repeat fixed;
    background-size: cover; 
  }

  @media screen and (max-width: 500px) {
    background: url(../images/bg_cover2_mobil.jpg) no-repeat scroll;
    background-size: cover;
    height: auto; 
  }
  // background: $sec-blue;

}

// PARTNERE// PARTNERE// PARTNERE

.partnere {
  width: 100%;
  padding: 150px 0 100px 0;
  color: #ffffff;

  @media screen and (max-width: 1024px) {
    padding: 50px 0 100px 0;
  }


  h1 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
  }

  .partner_cyberhus {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    display: block;
    margin: 25px auto;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url('/../images/cyberhus_ref.png') 0 0 no-repeat;
    
    @media screen and (max-width: 1024px) {
      background-position: 0 -270px;
    }

    &:hover {
      background-position: 0 -270px;
    }
  }

  .partner_netstof {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    display: block;
    margin: 25px auto;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url("../images/netstof_ref.png") 0 0 no-repeat;

    @media screen and (max-width: 1024px) {
      background-position: 0 -270px;
    }

    &:hover {
      background-position: 0 -270px;

    }
  }

  .partner_tuba {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    display: block;
    margin: 25px auto;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url("../images/tuba_ref.png") 0 0 no-repeat;
    
    @media screen and (max-width: 1024px) {
      background-position: 0 -270px;
    }

    &:hover {
      background-position: 0 -270px;
    }
  }

  .partner_cancer {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    display: block;
    margin: 25px auto;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url("../images/cancer_ref.png") 0 0 no-repeat;
    
    @media screen and (max-width: 1024px) {
      background-position: 0 -270px;
    }

    &:hover {
      background-position: 0 -270px;
    }
  }

  .partner_misbrug {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    display: block;
    margin: 25px auto;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url("../images/misbrug_ref.png") 0 0 no-repeat;
    
    @media screen and (max-width: 1024px) {
      background-position: 0 -270px;
    }

    &:hover {
      background-position: 0 -270px;
    }
  }
}

// PRICER// PRICER// PRICER// PRICER

.price {
   padding: 150px 0 100px 0;

   @media screen and (max-width: 1024px) {
    padding: 50px 0 100px 0;
  }

   p {
    width: 50%;
    margin: 10px auto;
   }

  .chat_add {
    margin-top: 70px;
    @media screen and (max-width: 869px) {
      margin-top: 20px;
    }
  }

  .chat_host {
    margin-top: 20px;
  }

  .pris-table {
    height: 400px;
    width: 280px;
    background: #E5E5E5;
    margin: 0 auto;
    display: table;
    position: relative;

    h3 {
      text-align: center;
      padding: 10px;
    }

    .line {
      height: 6px;
      border-radius: 6px;
      width: 40px;
      background: $green;
      margin: 28px auto;
    }

    li {
      list-style: none;
      text-align: center;
      color: #4f4f4f;
      font-size: 15px;
      margin-bottom: 7px;
    }
  }
}

.pricing-table .bullet-item:last-child {
  border-bottom: none;
}

// INFO CHAT // INFO CHAT // INFO CHAT

.info_chat {
  width: 100%;
  padding: 150px 0 100px 0;

  @media screen and (max-width: 1024px) {
    padding: 50px 0 100px 0;
  }

    h1 {
      text-align: center;
      color: #fff;
      padding-bottom: 20px;
    }

    h3 {
      color: #fff;
      text-align: center;
      padding-bottom: 10px;
    }

    p {
      color: #ffffff;
      @media screen and (max-width: 640px) {
        margin-top: 30px;
      }
    }
  
  .info1 {
    padding-top: 50px;

    h3 {
      font-weight: 700;
      text-align: left;
    }

    p {
      @media screen and (max-width: 869px) {
        display: table;
        width: 100%;
        margin: 10px auto;
      }
    }

    img {
      @media screen and (max-width: 869px) {
        display: table;
        width: 100%;
        margin: 10px auto;
        padding-bottom: 20px;
      }
          
      &.display-center {
        display: block;
        margin: 60px auto 0;

        @media screen and (max-width: 640px) {
          width: 50%;
        }
      }
    }
  }

  .info2 {
    padding-top: 80px;

    h3 {
      font-weight: 700;
      text-align: left;
    }

    p {
      @media screen and (max-width: 869px) {
        display: table;
        width: 100%;
        margin: 10px auto;
      }
    }

    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }

    img {
      @media screen and (max-width: 869px) {
        display: table;
        float: none;
        width: 100%;
        margin: 30px auto;      
      }
      &.display-center {
        display: block;
        margin: 60px auto 0;
        
        @media screen and (max-width: 640px) {
          width: 50%;
        }
      }
    }
  }
}


// CONTACT// CONTACT// CONTACT// CONTACT

.contact {
  padding: 150px 0 100px 0;

  @media screen and (max-width: 1024px) {
    padding: 50px 0 100px 0;
  }

  h1 {
    padding-bottom: 20px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  input {
  }

  textarea {
    min-height: 100px;
    resize: none;
  }
}

// MAILER

.fejl {
  padding-top: 120px;
  text-align: center;

  h1 {
    color: tomato;
  }

  a {
    background: tomato;
    color: #fff;
    padding: 10px 30px;
  }
}

.send {
  padding-top: 120px;
  text-align: center;

  h1 {
    color: $green;
  }

  a {
    background: $green;
    color: #fff;
    padding: 10px 30px;
  }
} 

// FOOTER// FOOTER// FOOTER// FOOTER

footer {
  padding: 50px 0;

  h1 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }

  a {
    color: #ffffff;
    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }

  .map {
      display: table;
      margin: 5px auto 25px;
    }

  .footer_link {
    color: #ffffff;
    &:hover {
      text-decoration: underline;
    }
  }

  .logos {
    display: table;
    margin: -10px auto;

    img {
      padding: 5px 10px;
    }
  }
}

// BACK-TO-TOP// BACK-TO-TOP// BACK-TO-TOP// BACK-TO-TOP

.back-to-top {
    position: fixed;
    bottom: 4em;
    left: -2px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(0, 0, 0, 0.80);
}

// MEDIA-QUERY// MEDIA-QUERY// MEDIA-QUERY

@media screen and (max-width: 640px) {

  .img-wrapper {
    margin-top: -40px;
  }

  .logo_desktop {
    display: none;
  }

  .logo_mobil {
    display: block;
    min-width: 160px;
  }
}



